body, ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.home {
  padding-left: 80px;
  padding-top: 50px; }

.favorites {
  height: 18px;
  width: 18px;
  fill: #FAC917; }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #FF8900;
  margin: 0;
  padding-left: 100px;
  color: #d5d5d5;
  font-family: "Segoe UI"; }
  .navigation a, .navigation a:hover, .navigation a:active, .navigation a:focus, .navigation a:visited {
    text-decoration: none;
    color: #000; }

.list {
  padding: 0 20px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.contacts {
  margin-top: 50px;
  margin-left: 100px;
  font-size: 20px;
  font-family: "Segoe UI"; }

.link {
  display: inline-block;
  width: 70px; }

.list__repos {
  padding-top: 30px; }

.logo__img {
  height: 24px;
  width: 24px;
  margin-right: 8px; }

.star-blue {
  fill: #1729B0; }

.repositories__data, .favorites__data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 768px;
  height: 22px; }

.repositories__data:hover {
  background: #d5d5d5; }

.repositories__user, .repositories__url, .repositories__name {
  display: inline-block;
  width: 30%; }

.repositories__data-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 768px;
  font-size: 18px;
  font-family: "Segoe UI";
  background: #c5c5c5;
  margin-bottom: 10px; }

.repositories__star {
  height: 18px;
  width: 18px; }

.button__delete {
  width: 60px;
  height: 22px;
  border-radius: 5px;
  font-size: 12px;
  color: #000000;
  border: 2px solid #c5c5c5;
  background-color: #efefef;
  -webkit-transition: background 2s linear,border 2s linear,color 2s linear;
  -o-transition: background 2s linear,border 2s linear,color 2s linear;
  transition: background 2s linear,border 2s linear,color 2s linear; }

.button__delete:hover {
  background-color: #969696;
  border-color: #e2e2e2;
  color: #fff; }

.favorites__data {
  height: 25px;
  padding-left: 20px; }

.favorites__user, .favorites__url, .favorites__name {
  display: inline-block;
  min-width: 25%; }

.ngSkype {
  position: relative;
  left: 80px; }
